body {
  text-align: center;
  background-color: plum;
  font-style: italic;
  font-size: 30px;
}
table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 15px;
  width: fit-content;
}
button {
  width: 70px;
  height: 30px;
}
.adatok {
  text-align: center;
  color: aqua;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
